.table th {
  background-color: #3c6cb4;
  color: white;
  height: 60px;
}

.custom-table {
  border-radius: 10px;
}

.btn {
  background-color: #3c6cb4;
  color: white;
}
.btn:hover {
  background-color: #3c6cb4;
  color: white;
}

.center-content {
  width: 92%;
  position: fixed;
}
.custom-table {
  border-radius: 10px;
  overflow: hidden;
}
