.new-header {
  background-color: #3c6cb4;
  color: white;
  justify-content: center;
  vertical-align: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.form-select {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
}

.col-md-8,
.col-md-4 {
  padding: 15px;
  border: 1px solid #dee2e6;
  margin-bottom: 20px;
}

.new-header > div {
  background-color: #3c6cb4;
  color: white;
  text-align: center;
  padding: 15px;
}

.table-container {
  background-color: #f8f9fa;
  padding: 20px;
  border: 1px solid #dee2e6;
}

.form-group {
  margin-bottom: 15px;
}

.forms-container {
  border-radius: 10px;
  border: 1px solid #dee2e6;
  padding: 20px;
  background-color: #f8f9fa;
}

.new-header {
  margin-bottom: 20px;
}

.header-content {
  background-color: #3c6cb4;
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 10px 10px 0 0;
}

.form-select {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 5px;
}

.forms-container {
  border-radius: 10px;
  border: 1px solid #dee2e6;
  padding: 20px;
  background-color: #f8f9fa;
  margin-top: 20px;
}

.new-header {
  margin-bottom: 20px;
}

.header-content {
  background-color: #3c6cb4;
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 10px 10px 0 0;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.form-select {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.upload {
  /* height: 100%; */
  /* width: 100%; */
  background-color: gainsboro;
  justify-content: center;
  text-align: center;
}

body {
  font-family: "Poppins", sans-serif;
}

.container-fluid,
.forms-container,
.new-header,
.header-content,
.row,
.col-md-24,
.ant-form,
.ant-row,
.ant-col {
  font-family: "Poppins", sans-serif;
}

.forms2-container {
  border-radius: 10px;
  border: 1px solid #dee2e6;
  padding: 20px;
  background-color: #f8f9fa;
  margin-top: 20px;
}

.header-content {
  font-size: 28px;
  font-weight: 500;
}

.ant-form-item {
  margin-bottom: 20px;
}

.ant-select {
  width: 100% !important;
}

.ant-input,
.ant-select-selector {
  border-radius: 4px;
  height: 40px;
}

.ant-input-group-wrapper .ant-input {
  border-radius: 0 4px 4px 0;
}

.ant-input-group-wrapper .ant-select {
  border-radius: 4px 0 0 4px;
}

.ant-form-item-control-input-content {
  display: flex;
  align-items: center;
}

.ant-upload {
  width: 100%;
}

.ant-btn {
  height: 40px;
  border-radius: 10px;
}

.ant-btn-primary {
  background-color: #3c6cb4;
  font-size: 20px;
  width: 60px;
}

.ant-form-item-control-input-content .ant-btn {
  width: 100%;
}

.ant-input-group > .ant-input:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.ant-input-group > .ant-input:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.custom-select {
  height: 40px !important;
}

.custom-width-input {
  width: 300px !important;
}

.forms-container {
  padding: 20px;
}

.form-group {
  display: flex;
  justify-content: space-between;
}
.form-actions {
  text-align: right;
  margin-top: 10px;
}

.container2 {
  border-radius: 10px;
  border: 1px solid #dee2e6;
  padding: 20px;
  background-color: #f8f9fa;
  margin-top: 20px;
}
