.status-message {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.complaint-details1 {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.complaint-details1 .row {
  margin: 0 -15px;
}

.complaint-details1 .col-md-12 {
  padding: 0 15px;
}

.complaint-details1 .mt-4 {
  margin-top: 1.5rem;
}

.complaint-details1 p {
  margin: 0 0 10px;
  font-size: 14px;
  color: #333;
}

.complaint-details1 .label-col p {
  font-weight: bold;
}

.complaint-details2 .label-col p {
  font-weight: bold;
}

.complaint-details1 .complaint-details2 .value-col p {
  color: #555;
}

@media (max-width: 768px) {
  .complaint-details1 .complaint-details2 .row {
    margin: 0;
  }

  .complaint-details1 .complaint-details2 .col-md-12 {
    padding: 0;
  }
}

.md {
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
  padding: 8px;
}

.complaint-details2 {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.complaint-details2 .row {
  margin: 0 -15px;
}

.complaint-details2 .col-md-12 {
  padding: 0 15px;
}

.complaint-details2 .mt-4 {
  margin-top: 1.5rem;
}

.complaint-details2 p {
  margin: 0 0 10px;
  font-size: 14px;
  color: #333;
}

.complaint-status {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cancel-button {
  width: 100%;
  display: flex;
  text-align: right;
}

.cancel {
  width: auto;
  margin-right: 20px;
}

.info-icon {
  font-size: 30px;
}

.status {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
}

.status-p {
  font-size: 20px;
}

.status-row {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: auto;
}
